@mixin prefixing($prop, $value) {
    -webkit-#{$prop}: #{$value};
    -moz-#{$prop}: #{$value};
    -ms-#{$prop}: #{$value};
    -o-#{$prop}: #{$value};
    #{$prop}: #{$value};
}

@mixin prefixing-values($prop, $value) {
    #{$prop}: -webkit-#{$value};
    #{$prop}: -moz-#{$value};
    #{$prop}: -ms-#{$value};
    #{$prop}: -o-#{$value};
    #{$prop}: #{$value};
}

@mixin flex-center-row {
    @include prefixing(display, flex);
    @include prefixing(justify-content, center);
    @include prefixing(align-items, center);
}

@mixin flex-center-column {
    @include prefixing(display, flex);
    @include prefixing(flex-direction, column);
    @include prefixing(justify-content, center);
}

@mixin flex-between-row {
    @include prefixing(display, flex);
    @include prefixing(justify-content, space-between);
    @include prefixing(align-items, center);
}

@mixin flex-space-around-row {
    @include prefixing(display, flex);
    @include prefixing(justify-content, space-around);
    @include prefixing(align-items, center);
}

@mixin flex-center-column {
    @include flex-center-row;
    @include prefixing(flex-direction, column);
}

@mixin hero-img {
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefixing(transform, translate(-50%, -50%));
}

@mixin button-transition {
    @include prefixing(transform, scaleX(0));
    @include prefixing(transform-origin, left);
    @include prefixing(transition, 400ms ease-out);
    @include prefixing(border-radius, 0.25rem);
}

@mixin button-statement {
    @include prefixing(transition, color 400ms);
    @include prefixing(margin-inline, 0.3rem);
    @include prefixing(padding-block, 0.6rem);
    @include prefixing(padding-inline, 2.5rem);
    @include prefixing(border, 0.125rem solid);
    @include prefixing(border-radius, 0.25rem);
    @include prefixing(outline, none);
    @include prefixing(text-transform, uppercase);
    @include prefixing(font-size, 0.9rem);
    @include prefixing(background-color, transparent);
    @include prefixing(color, $white);
    @include prefixing(cursor, pointer);
}

@mixin transition($prop, $time, $func, $delaying) {
    @if $func ==ease {
        @include prefixing(transition, $prop #{$time}s ease #{$delaying}s);
    }

    @else if $func ==ease-in {
        @include prefixing(transition, $prop #{$time}s ease-in #{$delaying}s);
    }

    @else if $func ==ease-in-out {
        @include prefixing(transition, $prop #{$time}s ease-in-out #{$delaying}s);
    }

    @else if $func ==ease-out {
        @include prefixing(transition, $prop #{$time}s ease-out #{$delaying}s);
    }

    @else if $func ==linear {
        @include prefixing(transition, $prop #{$time}s linear #{$delaying}s);
    }
}