@import '../../scss/utils/_variables.scss';
@import '../../scss/utils/_mixins.scss';
@import '../../scss/utils/_colors.scss';
@import '../../scss/utils/_animations.scss';

.gallery-banner img {
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    object-fit: cover;
    margin-top: -4rem;
}

.planet-card-presentation {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 90%;
    margin-top: 25px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;

    animation: appear-presentation 3.4s;
    animation-fill-mode: both;

    h1 {
        animation: shine 3s infinite linear;

        @include breakpoint(mobile) {
            font-size: 1.9rem;
        }
    }

    .span-presentation {
        text-transform: uppercase;
        font-size: 2rem;
        background-image: $linear-gradient-p;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        background-size: 500% auto;
        animation: textShine 5s ease-in-out infinite alternate;
    }
}

.planet-card-container {
    background-color: rgb(204, 199, 199);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 35px;
    padding: 3rem 2rem;
    padding-top: 8rem;
    border-radius: 32px 32px 0 0;

    animation: appear-container 4s;
    animation-fill-mode: both;
}

.planet-card {
    position: relative;
    width: 340px;
    height: 380px;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    transform-style: preserve-3d;
    transition: transform 1000ms;
    perspective: 1000px;
    cursor: pointer;

    @include breakpoint(mobile) {
        .planet-card {
            width: 340px;
            height: 380px;
        }
    }

    &:hover {
        transform: rotateY(180deg);
    }

    img.planet-card-image {
        border-radius: 0.5rem;
        object-fit: cover;
        @include width-height;

        @include breakpoint(mobile) {

            img.planet-card-image {
                width: 100%;
                height: 100%;
            }
        }
    }

    .planet-card-back,
    .planet-card-front {
        position: absolute;
        top: 0;
        left: 0;
        @include width-height;
        border-radius: 0.5rem;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        @include breakpoint(mobile) {
            .planet-card-front {
                width: 100%;
                height: 100%;
            }
        }
    }

    .planet-card-back {
        transform: rotateY(180deg);
    }

    .planet-card-back {
        transform: rotateY(180deg);
        overflow: hidden;

        .icon-card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.10;
        }

        .planet-card-content {
            .planet-card-title {
                @include flex-justify-row;
                position: relative;
                top: -1rem;
                margin-bottom: 1rem;
                color: $white;
                font-size: 2.5rem;
                font-weight: 800;
                text-transform: uppercase;
                font-family: $font-family;
            }

            .planet-card-definition {
                width: 95%;
                color: $black;
                margin: 0 auto;
                font-weight: 800;
                font-size: 1rem;
            }

            .planet-card-distance {
                position: relative;
                color: $black;
                top: 0;
                left: 3%;
                font-weight: 600;
                font-size: 1rem;
            }

            .planet-card-type {
                color: $black;
                position: relative;
                top: 0.1rem;
                left: 3%;
                font-weight: 600;
                font-size: 1rem;

                span {
                    font-style: italic;
                    font-weight: 600;
                    color: rgb(66, 87, 177);

                }
            }

            .planet-card-asterix {
                position: absolute;
                top: 75%;
                left: 3%;
                width: 95%;
                font-size: 0.9rem;
                color: $black;
            }
        }

        &::after {
            content: '';
            position: absolute;
            @include flex-center-row;
            @include width-height;
            top: 0;
            right: 0;

            font-size: 4em;
            color: #fff;
            background-image: $linear-gradient-card;
            box-shadow: $box-shadow2;
        }
    }
}