.planet-card-container {
    display: flex;
    border-radius: 25px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 45px;
    padding: 40px 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 1250px;
    margin: 80px auto;
}

.planet-card {
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    border: 5px solid white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
    transform-style: preserve-3d;
    transition: transform 1000ms;
    perspective: 1000px;
    cursor: pointer;

    &:hover {
        transform: rotateY(180deg);
    }

    img.planet-card-image {
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .planet-card-back,
    .planet-card-front {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .planet-card-front {
        background-color: rgb(238, 217, 217);
    }

    .planet-card-back {
        transform: rotateY(180deg);
        background-color: rgb(238, 217, 217);
        overflow: hidden;

        .icon-bx {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .planet-card-content {
            text-align: left;

            h2 {
                font-size: 1.2em;
            }

            p {
                font-size: 11px;
            }
        }

        &::after {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            z-index: 100;
            font-size: 4em;
            color: #fff;
            background: #ecbd65;
            transition: 0.5s;
            box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        &:nth-child(1)::after {
            content: '';
            background: #ecbd65;
        }

        &:nth-child(2)::after {
            content: '';
            background: #ec8465;
        }

        &:nth-child(3)::after {
            content: '';
            background: #65b4ec;
        }

        &:nth-child(4)::after {
            content: '';
            background: #6569ec;
        }

        &.planet-card-back:nth-child(5)::after {
            content: '';
            background: #ec6565;
        }

        &:nth-child(6)::after {
            content: '';
            background: #2d3333;
        }

        &:nth-child(7)::after {
            content: '';
            background: #128682;
        }

        &:nth-child(8)::after {
            content: '';
            background: #30d8d2;
        }

        &:hover::after {
            top: -20px;
            right: -20px;
            height: 80px;
            width: 80px;
            font-size: 2em;
            border-radius: 50%;
        }
    }

    .planet-card:nth-child(2) {
        border: 5px solid #ec8465;
    }

    .planet-card:nth-child(3) {
        border: 5px solid #65b4ec;
    }

    .planet-card:nth-child(4) {
        border: 5px solid #6569ec;
    }

    .planet-card:nth-child(5) {
        border: 5px solid #ec6565;
    }

    .planet-card:nth-child(6) {
        border: 5px solid #65ece7;
    }

    .planet-card:nth-child(7) {
        border: 5px solid #2da01e;
    }

    .planet-card:nth-child(8) {
        border: 5px solid #c7539b;
    }
}