.planet-card-container {
    display: flex;
    background-color: #f7f7f7;
    border-radius: 25px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 35px;
    padding: 40px 20px;

    & .planet-card-back,
    .planet-card-front {
        height: 100%;
        width: 100%;
    }

    img.planet-card-image {
        width: 100%;
        height: auto;

        object-fit: cover;
    }
}