.quiz-container {
    background-color: rgb(0, 0, 0);
    margin: 9rem auto;
    height: 100vh;


    h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        height: 10rem;
    }
}