@import '../../scss/utils/_variables.scss';
@import '../../scss/utils/_mixins.scss';
@import '../../scss/utils/_colors.scss';
@import '../../scss/utils/_animations.scss';

.astronomy-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    width: 100%;

    img {
        max-width: 100%;
        max-height: 100vh;
        width: 100%;
        object-fit: cover;
    }
}

.astronomy-presentation {
    margin: 2.5rem auto;
    width: 70%;

    h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        height: 10rem;
    }

    div {
        display: flex;
        align-items: center;
        margin-bottom: 6rem;


        img {
            max-width: 15rem;
            border: 3px solid $white;
            border-radius: 0.9rem;
            margin-right: 2rem;
            opacity: 0;
            transform: translateY(40px);
            transition: opacity 0.5s, transform 0.5s;
        }

        p {
            margin: 0;
        }

        &.animate {
            img {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &.img-left {
            p {
                order: 2;
            }

            &:nth-child(2) {
                transition-delay: 0.3s;
            }

            &:nth-child(3) {
                transition-delay: 0.5s;
            }
        }

        &.img-right {
            flex-direction: row-reverse;

            p {
                order: 1;
            }

            &:nth-child(2) {
                transition-delay: 0.3s;
            }

            &:nth-child(3) {
                transition-delay: 0.5s;
            }
        }
    }
}

@include breakpoint(mobile) {
    .astronomy-presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 2.5rem auto;
        width: 90%;


        h1 {
            height: auto;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            margin-bottom: 4rem;

            img {
                margin: 0 auto;
            }

            &.animate {
                img {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            &.img-left,
            &.img-right {
                flex-direction: column;

                p {
                    order: 2;
                }

                &:nth-child(2) {
                    transition-delay: 0.3s;
                }

                &:nth-child(3) {
                    transition-delay: 0.5s;
                }
            }
        }
    }
}