@import './scss/utils/colors';
@import './scss/utils/mixins';
@import './scss/utils/variables';


.flippable-card-container {
    background-color: $black;
    padding-top: 4rem;
    perspective: 1000px;
}